body {
  background-color: #f9fafb;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
}

.bigC {
  display: grid;
  grid-template-columns: auto 1fr;
}

.asideNv {
  position: relative;
  background-color: var(--slide-bar-color);
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  border-right: 2px solid var(--border-color);
  transition: width 0.3s ease, opacity 0.3s ease;
}

.logo {
  filter: var(--filter-att);
  width: 26px;
}

.text-logo {
  color: var(--text-primary-color-dark);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.asideNv.hidden {
  width: 0;
  opacity: 0;
  overflow: hidden;
}

main {
  overflow-y: scroll;
  height: 100vh;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

main.overScroll {
  width: calc(100% - 0px);
}

main.collapsed {
  margin-left: 0;
  width: 100%;
}

.toggle-menu {
  position: absolute;
  top: 10px;
  left: -40px;
  z-index: 10;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-menu:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.toggle-menu i {
  font-size: 20px;
}

.asideNv h5 {
  margin: 0;
  font-weight: 800;
}

.asideNv h5 i {
  padding: 7px 6px;
  margin-right: 5px;
  border-radius: 4px;
  color: #f3f4f7;
  font-size: 15px;
  background-color: #55e;
}

.itemBar1 {
  border-bottom: 2px solid var(--border-color);
  position: relative;
  width: 100%;
  margin-top: 5px;  
}

.searchAlignIcon {
  border: 1px solid #ecedee;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 5px;
}

.searchAlignIcon input {
  border: none;
  margin-left: 3px;
  font-size: 13px;
  font-weight: bold;
}

.searchAlignIcon input::placeholder {
  color: #a6b4cc;
  font-size: 14px;
  font-weight: bold;
}

.fa-magnifying-glass {
  color: #a6b4cc;
}

.searchAlignIcon input:focus {
  outline: none;
  width: 90%;
}

.searchAlignIcon i {
  position: relative;
  left: -2px;
}

@keyframes bubbleFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateY(0px);
  }
}


.itemsMedie div.active {
  color: var(--text-primary-color-dark) !important;
  background-color: var(--Active-color-bar);
  padding: 10px 16px;
  border-radius: 12px 0 12px 0;
  animation: bubbleFloat 3s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  transition: all 0.3s ease, border 0s;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(18, 18, 22, 0.2);
  border: 1px solid var(--border-color);
}



.active div {
  display: flex;
  align-items: center;
}

.active {
  margin: 10px 0 20px 0;
}

.itemsMedie {
  margin: 15px 10px;
  color: #98a2b3;
}

.itemBar2 {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.itemsMedie {
  margin-top: 20px;
  font-size: 16px;
  transition: 200ms;
  cursor: pointer;
}

.fa-bell {
  margin-right: 5px;
}

.itemsMedie div span {
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.labelBottom {
  margin: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #98a2b3;
}

.bottomItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1%;
  width: 100%;
}

.bottomItems button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  width: 60%;
  cursor: pointer;
  color: var(--text-primary-color-dark);
  margin-top: 10px;
  font-size: 14px;
  transition: 500ms;
}

.bottomItems button:hover {
  color: #98a2b3;
}

.bolt {
  margin-right: 5px;
  color: #98a2b3;
}

.asideNv {
  transition: width 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.asideNv.hidden {
  width: 0;
  opacity: 0;
}

.toggle-menu {
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.asideNv.hidden {
  transform: translateX(-100%);
}

.topItems {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.itemBar0 {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemBar0:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.itemBar0 {
  position: relative;
  cursor: pointer;
}

.dropdown-contentt {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  left: 7%;
  top: 60px;
  /* ajusta según necesidad */
  right: 20px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform-origin: top;
}

.dropdown-item {
  background: none;
  border: none;
  color: #333;
  width: 100%;
  border-radius: 10px;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 200ms;
}

.dropdown-item:hover {
  color: red;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header-container {
  display: flex;
  align-items: center;
  cursor: default;
  width: 100%;
  padding: 10px;
}

.header-container h5 i {
  color: #fff;
}

.dropdown-icon {
  width: 12px;
  height: 12px;
  color: #98a2b3;
  transition: 0.3s;
  transform: rotate(0deg);
}

.itemBar0:hover .dropdown-icon,
.itemBar0.active .dropdown-icon {
  color: #fff;
  transform: rotate(180deg);
}

.itemBar0 {
  position: relative;
}

.divider {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
}

.toggle-sidebar-btn {
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: var(--text-primary-color-dark);
  border: none;
  scale: .8;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-sidebar-btn:hover {
  color: var(--text-primary-color-dark);
  transform: scale(1.1), rotate(180deg);
}

.toggle-sidebar-btn i {
  font-size: 20px;
}

.content-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid var(--border-color);
  padding: 10px;
  margin-right: 6px;
  margin-left: 6px;
  scale: 1;
  border-radius: 10px;
}
.Content-user-info-rw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.content-details-user {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  overflow: hidden;
}

.content-details-user span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.content-details-user span:nth-child(1) {
  font-weight: bold;
  font-size: clamp(0.9rem, 1.6vw, 1.1rem);
}

.content-details-user span:nth-child(2) {
  color: var(--text-color-gray);
  font-size: clamp(0.7rem, 1.4vw, 0.9rem);
}
.content-details-user span:nth-child(1) {
  font-weight: bold;
  font-size: .9rem;
}
.content-details-user span:nth-child(2) {
  color: var(--text-color-gray);
  font-size: 12px;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-dropdown {
  position: relative;
  scale: 1;
  background-color: transparent;
  color: var(--text-primary-color-dark);
  border-radius: 8px;
  padding: 8px;
  z-index: 1000;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: -6px;
  margin-top: 4px;
  cursor: pointer;
  color: var(--text-primary-color-dark);
}

.user-dropdown p {
  display: flex;
  align-items: center;
  color: var(--text-color-withe-dark);
  cursor: pointer;
  transition: 200ms;
}

.user-dropdown p:hover {
  color: var(--text-color-gray);
}

.icon-user {
  scale: .8;
  color: var(--text-color-gray);
  margin-right: 5px;
}