.details-modal {
    position: absolute;
    z-index: 7;
    top: -11px;
    right: -11px;
    background-color: #fefeff;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100vh;
}
.details-modal button {
    position: absolute;
    top: 1%;
    background-color: transparent;
    border: none;
    color: #9c9a9a;
    left: 2%;
    font-size: 18px;
    cursor: pointer;
}
.divider {
    height: 1px;
    background-color: #ccc;
    position: absolute;
    width: 110%;
    left: 0;
    top: 5%;
}